<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>:: TCC Mall ::</title>
</head>
<body>
    <h3><a href="/">TCC Mall</a></h3>
        <h3>Welcome!!!</h3>
        <p>Logged in Merchant: <strong><%= username %></strong></p>
        <hr>

        <a href="/dashboard">Dashboard</a>
        <a href="/addPro">Upload Products</a>
        <a href="/viewPro">View Products</a>
        <a href="/logout">Click to Logout</a>
       

    
</body>
</html>